@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Source+Sans+Pro&display=swap");
body {
  margin: 0px; }

.navegation-icons {
  width: 12px;
  height: 153px;
  object-fit: contain;
  position: fixed;
  right: 48px;
  top: 40%; }

.block1 {
  height: 720px;
  background-color: #7452a3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 100px; }

.menu {
  font-family: "Source Sans Pro", sans-serif;
  width: 80%;
  color: #99f7e2;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .menu img {
    width: 36px;
    height: 36px; }

.main {
  width: 50%; }
  .main h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    color: #99f7e2; }
  .main p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: #ffff;
    font-size: 15px; }

.mouse {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  .mouse img {
    width: 15px;
    height: 15px; }

.block2 {
  height: 1024px;
  background-color: #ffff;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.parte2a {
  position: absolute;
  left: 0px;
  top: 1000px;
  z-index: 2; }
  .parte2a img {
    width: 700px;
    height: 517px;
    object-fit: contain; }

.parte2b {
  width: 400px;
  height: 600px;
  background-color: #f5f3f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 150px; }
  .parte2b h2 {
    font-family: "Libre Baskerville", serif;
    color: #7452a3;
    font-size: 30px; }
  .parte2b .texto2 {
    font-display: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #060606; }
  .parte2b p {
    font-family: Helvetica;
    font-size: 18px;
    color: #67b3ff; }
